# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.xz

# Test binary, build with `go test -c`
*.test

update*.yml
# Output of the go coverage tool, specifically when used with LiteIDE
*.out
.vscode/settings.json

cmddl.yml
play-*.yml
cmddl
tgmid
qbaddtask
aria2addtask