# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.xz
.vscode

# Test binary, build with `go test -c`
*.test

update*.yml
# Output of the go coverage tool, specifically when used with LiteIDE
*.out
.vscode/settings.json

cmddl.yml
play-*.yml
cmd/aria2addtask/aria2addtask
cmd/cmddl/cmddl
cmd/hashdl/hashdl_386
cmd/natAmoin/natAmoin
cmd/qbaddtask/qbaddtask_386
cmd/wgmoin/wgmoin
cmd/tgmid/tgmid
